@tailwind base;
@tailwind components;
@tailwind utilities;
/* Your custom styles MUST be after the @tailwind directives */
body {
  background-color: darkgreen;
  color: darkgreen;
  font-family: delius, serif;
}